<!DOCTYPE html>
<html lang="en">
<head>

     <title>Decrypt!</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/css/vegas.min.css">
     <link rel="stylesheet" href="static/css/font-awesome.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="static/css/templatemo-style.css">

</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- GRID LINE -->
    <section class="grid">
         <div class="container">
            <div class="row">

              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>

            </div>
         </div>
    </section>


     <!-- HOME -->
     <section id="home">
        <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="home-info">
                            <h1>Decrypt your message below!</h1>
                            <form method="post" action="/decode">
                                <input type="text" name="encoded_message"/>
                            <h1>Input your key here:</h1>
                                <input type="text" name="input_key"/>
                                <input type="submit" value="Submit"/>
                                <h1>Heres your decrypted message:</h1>
                                <textarea>{{finalString}}</textarea>
                            </form> 
                         </div>
                    </div>
               </div>
          </div>
     </section>


   <div class="menu-bg"></div>
    <div class="menu-burger">☰</div>

    <div class="menu-items">
       <div class="container">
         <div class="row">
            <h1>Navigations</h1>
             <ul class="menu">
                <li><a href="/index">Encrpyt</a></li>
                <li><a href="/decode">Decrypt</a></li>
            </ul>
           </div>
  
             <address>
               <h1>Our Studio</h1>
               <p>18 W 89th St, <br> New York, NY</p>
               <div class="google-map">
                  <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJo1cEe5tYwokR01nsn7ot8mg&key=AIzaSyCa_2zMnBU5HF16px2d4twgcdzZR5P0mXk" allowfullscreen></iframe>
               </div>
             </address>
           </div> 
     <!-- SCRIPTS -->
     <script src="static/js/jquery.js"></script>
     <script src="static/js/bootstrap.min.js"></script>
     <script src="static/js/vegas.min.js"></script>
     <script src="static/js/countdown.js"></script>
     <script src="static/js/init.js"></script>
     <script src="static/js/custom.js"></script>

</body>
</html>