<!DOCTYPE html>
<html lang="en">
<head>

     <title>Decrypt!</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/css/vegas.min.css">
     <link rel="stylesheet" href="static/css/font-awesome.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="static/css/templatemo-style.css">

</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- GRID LINE -->
    <section class="grid">
         <div class="container">
            <div class="row">

              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>

            </div>
         </div>
    </section>


     <!-- HOME -->
     <section id="home">
        <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="home-info">
        <h2><a href="/index" id = "encyr"> Encrypt </a> <a href="/decode" id = "dncyr">Decrypt</a></h2>
                            <h1 class = "big_top">Decrypt your message below!</h1>
                            <form method="post" action="/decode">
                                <input type="text" name="encoded_message"/>
                            <h1>Input your key here:</h1>
                                <input type="text" name="input_key"/>
                                <input type="submit" value="Submit"/>
                                <h1>Here's your decrypted message:</h1>
                                <textarea>{{finalString}}</textarea>
                            </form> 
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <!-- SCRIPTS -->
     <script src="static/js/jquery.js"></script>
     <script src="static/js/bootstrap.min.js"></script>
     <script src="static/js/vegas.min.js"></script>
     <script src="static/js/countdown.js"></script>
     <script src="static/js/init.js"></script>
     <script src="static/js/custom.js"></script>

</body>
</html>