<!DOCTYPE html>
<html lang="en">
<head>
     <title>Encrypt!</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/css/vegas.min.css">
     <link rel="stylesheet" href="static/css/font-awesome.min.css">
     <!-- MAIN CSS -->
     <link rel="stylesheet" href="static/css/templatemo-style.css">
</head>
<body>
     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
               
          </div>
     </section>
     <!-- GRID LINE -->
    <section class="grid">
         <div class="container">
            <div class="row">

              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>

            </div>
         </div>
    </section>
     <!-- HOME -->
     <section id="home">
        <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="home-info">
                              <h1>Encrpyt your message below!</h1>
                            <form method="post" action="/encode">
                                <input type="text" name="message"/>
                                <input type="submit" value="Submit"/>
                               <!--enocde-->
                               <h1>Heres your encrypted message:</h1>
                               <textarea>{{finalString}}</textarea>
                               <h1>Heres your key:</h1>
                               <textarea>{{finalkey}}</textarea>
                               <!-- decode-->
                              <!--  <h1>Decrypt your message below!</h1>-->
                              <!--  <form method="post" action="/decode">-->
                              <!--  <input type="text" name="message"/>-->
                              <!--<input type="submit" value="Submit"/>-->
                            </form> 
                         </div>
                    </div>
               </div>
          </div>
     </section>
   <div class="menu-bg"></div>
    <div class="menu-burger">☰</div>

    <div class="menu-items">
       <div class="container">
         <div class="row">
           <div class="col-md-offset-2 col-md-4 col-sm-6">
            <h1>Navigations</h1>
             <ul class="menu">
                <li><a href="/index">Encrpyt</a></li>
                <li><a href="/decode">Decrypt</a></li>
            </ul>
           </div>
           <div class="col-md-4 col-sm-6">
             <address>
               <h1>Our Studio</h1>
               <p>18 W 89th St, <br> New York, NY</p>
               </div>
             </address>
           </div> 
     <!-- SCRIPTS -->
     <script src="static/js/jquery.js"></script>
     <script src="static/js/bootstrap.min.js"></script>
     <script src="static/js/vegas.min.js"></script>
     <script src="static/js/countdown.js"></script>
     <script src="static/js/init.js"></script>
     <script src="static/js/custom.js"></script>

</body>
</html>